* {
    padding: 0px;
    margin: 0px;
    font-family: roboto;
}

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0px 20px;
    background-color: black;
    color: white;
    padding-left: 300px;
}

.yourfeed {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: xx-large;
}

.content {
    display: flex;
    justify-content: center;
}

.col1 {
    width: 25%;
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.box1 {
    height: 300px;
    width: 100%;
    border: 2px solid black;
    margin: 20px 0px 0px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.box2 {
    width: 100%;
    height: 200px;
    border: 2px solid black;
    margin: 20px 50px 0px 0px;
    display: flex;
    padding-left: 30px;
}

.boxl {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-right: 30px;
}

.boxr {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.boxl1 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#pfp {
    height: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
}

#box1name {
    font-size: x-large;
    margin-top: 40px;
}

.heading {
    font-size: x-large;
}

.boxb {
    font-size: large;
    margin-top: 50px;
}

.btn {
    width: 70px;
    height: 40px;
    background-color: #ffd966;
    border: 2px solid black;
    color: black;
    box-shadow: 3px 3px black;
    font-weight: bold;
    margin-top: 10px;
}

#count, #count2, #count3 {
    font-weight: bold;
}
