.box1 {
    height: 200px;
    width: 40%;
    border: 2px solid black;
    margin: 100px;
}

.box1t {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn {
    width: 70px;
    height: 40px;
    background-color: #ffd966;
    border: 2px solid black;
    color: black;
    box-shadow: 3px 3px black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-right: 20px;
}

.btns {
    display: flex;
    flex-direction: column;
}

#heading {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.box1b p {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#count {
    font-family: Arial, Helvetica, sans-serif;
}
